@import 'react-quill/dist/quill.snow.css';

.wrapperClassName {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	width: 90%;
}

.editorClassName {
	min-height: 300px;
	color: black;
	background: white;
}

.toolbarClassName {
	border-bottom: 1px solid #ccc;
}

.ql-editor img {
	max-height: 300px;
	width: auto;
	object-fit: contain;
	border-radius: 8px;
	margin: 8px 0;
}

.ql-editor strong {
	font-weight: bold;
}

.ql-editor em {
	font-style: italic !important;
}

.ql-editor u {
	text-decoration: underline;
}